<div class="panel panel-default">
  <div class="panel-body">

    <form id="document-edit" [formGroup]="documentForm"  (ngSubmit)="onSubmitDocument()">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Document Title:</label>
          <input type="text" id="name" class="form-control" size="120" max="120" formControlName="name">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!documentForm.get('name').valid && documentForm.get('name').touched" >
        The Document Title is a required field.
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Document Description:</label>
          <input type="text" id="description" class="form-control" size="120" max="255" formControlName="description" >
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">Document URL:</label>
          <input type="text" id="url" class="form-control" size="150" max="255" formControlName="url"  required>
        </div>
      </div>
      <div class="alert alert-danger"  *ngIf="!documentForm.get('url').valid && documentForm.get('url').touched">
        The Document URL is a required field.
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!documentForm.valid">{{ editMode ? 'Update' : 'Save' }}</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>

