<div class="row">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-9">
        <span class="title">Contacts</span>
      </div>
      <div class="col-xs-3">
        <a class="btn btn-success" (click)="onNewContact()">New Contact</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <cms-contact-item *ngFor="let contactEl of contacts" [contact]="contactEl"
            ></cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
